.additional-product {
  margin-bottom: 40px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 86px;
  }
}

.additional-product .container {
  @media (min-width: $tablet-width) {
    padding: 0 5px;
  }
}

.additional-product__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 900px 260px;
    column-gap: 20px;
  }

  @media (min-width: $desktop-width-lg) {
    display: grid;
    grid-template-columns: 1fr 260px;
    column-gap: 80px;
  }
}

.additional-product__order-all {
  padding: 103px 55px 40px;
  display: flex;
  align-items: flex-end;
  background: url("../img/icon_gift.svg"),
    linear-gradient(to bottom, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../img/order-everything-block.png");
  background-repeat: no-repeat;
  background-position: 100px 60px, center, center;
  background-size: auto, auto, cover;
  color: #ffffff;

  @media (min-resolution: 2dppx),
    (min-resolution: 1.5dppx) {
    background: url("../img/icon_gift.svg"),
      linear-gradient(to bottom, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../img/order-everything-block@2x.png");
    background-position: 100px 60px, center, center;
    background-size: auto, auto, cover;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    padding: 60px 120px 69px 75px;
    justify-content: flex-end;
    background: url("../img/icon_gift.svg"),
      linear-gradient(to bottom, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../img/gift-block-cat-tablet.png");
    background-position: 81px 59px, center, center;
    background-repeat: no-repeat;
    background-size: auto, auto, cover;
    min-height: 200px;

    @media (min-resolution: 2dppx),
      (min-resolution: 1.5dppx) {
      background: url("../img/icon_gift.svg"),
        linear-gradient(to bottom, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        url("../img/gift-block-cat-tablet@2x.png");
      background-position: 81px 59px, center, center;
      background-size: auto, auto, cover;
      background-repeat: no-repeat;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 40px 35px 41px 35px;
    background: url("../img/icon_gift.svg"),
      linear-gradient(to bottom, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../img/gift-block-cat-desktop.png");
    background-repeat: no-repeat;
    background-position: 85px 60px, center, center;
    background-size: auto, auto, cover;
    min-height: 289px;
    max-width: 245px;

    @media (min-resolution: 2dppx),
      (min-resolution: 1.5dppx) {
      background: url("../img/icon_gift.svg"),
        linear-gradient(to bottom, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        url("../img/gift-block-cat-desktop@2x.png");
      background-position: 85px 60px, center, center;
      background-size: auto, auto, cover;
      background-repeat: no-repeat;
    }
  }
}

.additional-product__title-decor {
  background-color: #ffffff;
  display: inline-block;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    margin-left: 1px;
    max-width: none;
  }

  @media (min-width: $desktop-width) {
    padding-left: 14px;
    margin-left: -24px;
  }
}


.additional-product__title {
  margin: 0 20px 37px 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  position: relative;
  display: inline-block;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    right: -100vw;
    transform: translateY(-50%);
    background-color: $basic_green;
    height: 2px;
    z-index: -1;

    @media (min-width: $tablet-width) {
      left: -100vw;
    }

    @media (min-width: $desktop-width) {
      top: 67%;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 20px 78px 26px;
  }
}

.additional-product__item-title {
  margin: 0;
  padding: 0;
  margin-bottom: 11px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0 0 8px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
  }
}

.additional-product__text {
  padding-top: 85px;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.01rem;

  @media (min-width: $tablet-width) {
    padding-top: 12px;
    max-width: 170px;
    text-align: left;
    letter-spacing: 0.01rem;
    padding-left: 3px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    max-width: none;
    text-align: center;
  }
}

.additional-product__list {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
    border: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    padding-left: 16px;
    margin-bottom: 0;
    border: none;
  }
}

.additional-product__item {
  padding: 13px 0 19px;
  border-top: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    padding: 25px 40px 27px;
    display: grid;
    grid-template-columns: 1fr auto;
    row-gap: 18px;
    border: none;
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 0 16px;
    display: grid;
    grid-template-columns: 324px 325px 244px;
    row-gap: 0;
    border: none;
    justify-items: flex-start;
    border-top: 1px solid #cdcdcd;
    align-items: center;
  }

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}

.additional-product__characteristic-wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: flex-end;
    column-gap: 50px;
    padding-top: 6px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 0;
  }
}

.additional-product__characteristic-text {
  line-height: 14px;
  color: #444444;
  display: table-column;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 10px;
    margin-right: 38px;
    font-size: 16px;
    line-height: 20px;
  }
}

.additional-product__button.button {
  margin-top: 15px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    padding: 10px 0;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    grid-column: 1/-1;
  }
}

.additional-product__characteristic-price {
  text-align: right;
  display: inline-block;
}

.additional-product__characteristic-text--decor {
  @media (min-width: $tablet-width) {
    margin-right: 8px;
  }
}

.additional-product__characteristic-text--decor + span {
  @media (min-width: $desktop-width) {
    margin-right: 48px;
  }
}
