.address {
  position: relative;

  @media (min-width: $desktop-width) {
    background-color: #ffffff;
  }
}

.address__position {
  padding: 25px 20px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    padding: 60px 40px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding: 0;
  }
}

.address__map-wrapper {
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    height: 405px;
  }
}

.address__map-wrapper iframe {
  width: 100%;
  height: 100%;
  display: block;
  border: none;
}

.address__text-wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    padding: 58px 80px;
    position: absolute;
    content: "";
    background-color: #ffffff;
    color: #000000;
    left: 0;
    top: 96px;
    width: 565px;
  }
}

.address__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  max-width: 140px;

  @media (min-width: $tablet-width) {
    max-width: 160px;
    text-align: left;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 90px;
  }
}

.address__text {
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  max-width: 140px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-top: -3px;
    max-width: 173px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.address__sub-text {
  display: block;
  margin-top: 3px;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
    margin-top: 0;
  }
}

.address__text-streat {
  margin-bottom: 1px;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
  }
}

.address-form .address__streat-wrapper {
  align-self: flex-end;
}

.address-catalog-footer .address__text {
  margin-top: 3px;

  @media (min-width: $tablet-width) {
    margin-top: -3px;
  }
}

.address-index .address__text {
  margin-top: 3px;

  @media (min-width: $tablet-width) {
    margin-top: -3px;
  }
}

.address-catalog-footer .address__sub-text {
  display: inline-block;
  margin-top: 3px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.address-catalog-footer .address__title {
  @media (min-width: $desktop-width) {
    margin-right: 96px;
  }
}

.no-js .address__map-wrapper {
  background-image: url("../img/map-img-mobile.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;

  iframe {
    display: none;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/map-img-tablet.png");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/map-img-desctop.png");
  }
}

.address-index .address__sub-text {
  @media (min-width: $desktop-width) {
    padding-top: 18px;
  }
}
