.button {
  padding: 10px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  background-color: #68b738;
  color: #ffffff;
  width: 100%;
  border: none;
  text-transform: uppercase;
  text-align: center;
}
