.copyright__text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  display: inline-block;

  &:focus-visible {
    outline: none;
  }

  @media (min-width: $tablet-width) {
    margin-right: 25px;
  }
}

.copyright {
  padding-top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
}

.copyright__icon {
  fill: #666666;
}

.copyright:hover .copyright__icon,
.copyright:active .copyright__icon,
.copyright:focus .copyright__icon {
  fill: $basic_green;
}

.copyright:active {
  opacity: 0.3;
}
