.footer {
  background-color: #F2F2F2;
}

.footer__wrapper {
  padding: 40px 0 20px;
}

.footer__logo-wrapper {
  margin-bottom: 30px;
  text-align: center;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
