.header {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1220px;
  }
}

.header__index {
  @media (min-width: $desktop-width) {
    background: linear-gradient(to right, #ffffff 0 50%, rgba(104, 183, 56, 0.85) 50% 100%),
      url("../img/index-background-desktop.png");
    background-repeat: no-repeat;
    background-position: 0 50%, right 0;
    background-size: auto, auto;
    color: #ffffff;
  }
}

.header__wrapper {
  padding: 10px 20px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 2fr 50px;
  min-height: 65px;
  position: relative;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 2fr;
  }

  @media (min-width: $desktop-width) {
    padding: 70px 20px 45px;
  }
}

.header__wrapper-logo {
  display: flex;
  align-items: center;
}

.header__logo,
.header__logo-catenergy {
  display: inline-block;
  cursor: pointer;
}

.header__logo {
  margin-right: 55px;

  @media (min-width: $tablet-width) {
    margin-right: 15px;
  }
}
