.instruction {
  padding-bottom: 26px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 28px;
  }
}

.instruction .container {
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    padding: 0 5px;
  }
}

.instruction__list {
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 255px);
    column-gap: 130px;
    counter-reset: section;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 250px);
    column-gap: 75px;
  }
}

.instruction__item {
  margin-bottom: 26px;
  padding-left: 80px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 29px 0 70px;
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }

  &::before {
    position: absolute;
    left: 0;
    top: -1px;
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-color: $basic_green;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      position: inherit;
      top: -2px;
      margin-bottom: 30px;
      width: 80px;
      height: 80px;
    }

    @media (min-width: $desktop-width) {
      top: 0;
      margin-bottom: 32px;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      counter-increment: section;
      position: absolute;
      right: 9px;
      top: -13px;
      display: block;
      font-size: 280px;
      line-height: 280px;
      font-family: "Oswald", "Arial", sans-serif;
      color: #f2f2f2;
      z-index: -1;
      content: counters(section, ".") "";
    }

    @media (min-width: $desktop-width) {
      right: 0;
    }
  }

  &--leaf::before {
    background-image: url("../img/icon_leaf.svg");
  }

  &--tub::before {
    background-image: url("../img/icon_tub.svg");
  }

  &--eat::before {
    background-image: url("../img/icon_eat.svg");
  }

  &--alarm::before {
    background-image: url("../img/icon_alarm.svg");
  }
}

.instruction__title {
  margin-bottom: 45px;
}

.instruction__item--leaf {
  &::after {
    @media (min-width: $tablet-width) {
      right: 23px;
    }

    @media (min-width: $desktop-width) {
      right: 20px;
    }
  }
}
