.instruction__item {
  margin-bottom: 20px;
  padding-left: 80px;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  &--leaf::before {
    content: '';
    display: inline-block;
    color: #ffffff;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
