.nav {
  justify-self: flex-end;
  align-self: center;
}

.nav__list {
  display: none;
  width: 100%;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.nav__item {
  padding: 25px 0;
  text-align: center;
  width: auto;
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}

.nav__item:not(:last-child) {
  @media (min-width: $tablet-width) {
    margin-right: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 36px;
  }
}

.nav__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  display: inline-block;
}

.nav__toggle {
  height: 30px;
  width: 24px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
