.nav {
  border-top: 1px solid #E6E6E6;
}

.nav__item {
  padding: 25px 0;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #E6E6E6;
}

.nav__link {
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}
