.product {
  margin-bottom: 25px;

  @media (min-width: $desktop-width) {
    margin-bottom: 75px;
  }
}

.product__list {
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 63px;
  }
}

.product__item {
  padding: 20px 0;
  border-top: 1px solid #ebebeb;
  display: grid;
  grid-template-columns: 140px 142px;

  @media (min-width: $tablet-width) {
    padding: 0 36px 40px;
    margin-bottom: 70px;
    border: none;
    grid-template-columns: 1fr;
    background-color: #f2f2f2;
    min-height: 325px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 36px 40px;
    max-width: 245px;
    max-height: 431px;
    margin-bottom: 85px;
  }
}

.product__item--last {
  padding-top: 80px;
  position: relative;
  text-align: center;
  border-bottom: 1px solid #ebebeb;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 45px;
    left: 50%;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
  }

  &::before {
    transform: translateX(-50%) rotate(90deg);
  }

  &::after {
    transform: translateX(-50%) rotate(-180deg);
  }
}

.product__info-wrapper {
  margin-bottom: 20px;
}

.product__info,
.product__info tbody {
  @media (min-width: $tablet-width) {
    display: block;
  }
}

.product__info-item {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.product__link {
  display: inline-block;
  color: #222222;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.product__link-img {
  display: inline-block;

  @media (min-width: $tablet-width) {
    margin-top: -85px;
    margin-bottom: 35px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
    min-height: 202px;
  }
}

.product__title {
  padding: 27px 0 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 150px;
  }
}

.product__item-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;

  @media (min-width: $tablet-width) {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
  }
}

.product__last-title {
  color: #111111;
  grid-column: 1/-1;
}

.product__info,
.product__last-text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.product__last-text {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  grid-column: 1/-1;
}

.product__btn {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  color: #444444;
  grid-column: 1/-1;
}

.product__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  grid-column: 1/-1;
}

.product__img-small {
  width: 68px;
  height: auto;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    width: 161px;
    height: 172px;
  }
}

.product__img-big {
  width: 84px;
  height: 101px;

  @media (min-width: $tablet-width) {
    width: 168px;
    height: 207px;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
    height: 202px;
  }
}

.product__block-small {
  padding-top: 25px;
}

.product__block-big {
  max-height: 202px;
}
