.product {
  margin-bottom: 25px;
}

.product__list {
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 63px;
  }
}

.product__item {
  padding: 20px 0;
  border-bottom: 1px solid #ebebeb;
}

.product__item--last {
  text-align: center;
}

.product__info-wrapper {
  margin-bottom: 20px;
}

.product__link {
  display: inline-block;
  color: #222222;
}

.product__link-img {
  display: inline-block;
}

.product__title {
  padding: 27px 0 40px;
}

.product__item-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
}

.product__last-title {
  color: #111111;
}

.product__info,
.product__last-text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.product__btn {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  color: #444444;
}

.product__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
