.promo {
  position: relative;
  color: #ffffff;
  text-align: center;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
}

.promo__container {
  padding: 30px 20px 120px;
  background: linear-gradient(to bottom, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../img/index-background-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    padding-left: 60px 0 0;
    margin-left: 100px;
    background-image: none;
    max-width: 460px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    width: 500px;
  }
}

.promo__title {
  margin-bottom: 25px;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
    color: #000000;
  }
}

.promo__text {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    color: #000000;
  }
}

.promo__img-wrapper {
  margin-top: -120px;
  padding-bottom: 30px;

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.promo__button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 280px;

  @media (min-width: $tablet-width) {
    width: 244px;
    top: 240px;
    bottom: auto;
    left: 230px;
    right: auto;
  }
}
