.social {
  padding: 20px 0;
  margin-bottom: 20px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
    margin: 0;
    padding: 0;
  }
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__link {
  display: inline-block;
}

.social__link--instagram {
  margin: 0 20px;
}

.social__icon {
  fill: #666666;
}

.social__icon-facebook {
  stroke: #666666;
  fill: transparent;
}
