.social {
  padding: 20px 0;
  margin-bottom: 20px;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__link--instagram {
  margin: 0 20px;
}
